In [2]:
import pandas as pd
file_path = "EXIST_2023/EXIST2023_Task1_en.xlsx"
data = pd.read_excel(file_path)

In [3]:
len(data)

3260

In [4]:
data.head(10)

,Unnamed: 0,id,lang,tweet,number_annotators,annotators,gender_annotators,age_annotators,labels_task1,Total_vote,Total_female,Total_male,majority_vote,female_vote,male_vote
0,0,200001,en,FFS! How about laying the blame on the bastard...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,2,1,1,1,0
1,1,200002,en,Writing a uni essay in my local pub with a cof...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'NO', 'YES', 'YES']",5,3,2,1,1,1
2,2,200003,en,@UniversalORL it is 2021 not 1921. I dont appr...,6,"['Annotator_397', 'Annotator_398', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'YES']",4,3,1,1,1,0
3,3,200004,en,@GMB this is unacceptable. Use her title as yo...,6,"['Annotator_403', 'Annotator_404', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'NO']",3,2,1,1,1,0
4,4,200005,en,‘Making yourself a harder target’ basically bo...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'NO', 'YES']",3,3,0,1,1,0
5,5,200006,en,According to a customer I have plenty of time ...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'YES', 'YES', 'YES']",6,3,3,1,1,1
6,6,200007,en,"So only 'blokes' drink beer? Sorry, but if you...",6,"['Annotator_415', 'Annotator_416', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'YES', 'YES', 'YES']",6,3,3,1,1,1
7,7,200008,en,New to the shelves this week - looking forward...,6,"['Annotator_420', 'Annotator_296', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['NO', 'NO', 'NO', 'YES', 'NO', 'NO']",1,0,1,0,0,0
8,8,200009,en,#EverydaySexism We can &amp; need to do better...,6,"['Annotator_425', 'Annotator_426', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,2,1,1,1,0
9,9,200010,en,I guess that’s fairly normal for a Neanderthal...,6,"['Annotator_431', 'Annotator_432', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['NO', 'NO', 'NO', 'NO', 'YES', 'NO']",1,0,1,0,0,0

Find records that has disagreement among annotators

In [5]:
def has_disagreement(label_list):
    label_list = eval(label_list)
    return 'YES' in label_list and 'NO' in label_list

disagreement_records = data[data['labels_task1'].apply(has_disagreement)]
disagreement_records=disagreement_records[['id','tweet','number_annotators','annotators','gender_annotators','age_annotators','labels_task1',"Total_vote","Total_female","Total_male","majority_vote"]]
disagreement_records.to_excel('EXIST_2023/Complete_disagreement_records.xlsx', index=False)

In [6]:
len(disagreement_records)

2170

Find records that has agreement among annotators

In [7]:
def is_complete_agreement(label_list):
    # Convert string representation of list to actual list
    label_list = eval(label_list)
    return all(label == 'YES' for label in label_list) or all(label == 'NO' for label in label_list)

# Apply the function to filter rows
complete_agreement_records = data[data['labels_task1'].apply(is_complete_agreement)]

complete_agreement_records=complete_agreement_records[['id','tweet','number_annotators','annotators','gender_annotators','age_annotators','labels_task1',"Total_vote","Total_female","Total_male","majority_vote"]]
complete_agreement_records.to_excel('EXIST_2023/Complete_agreement_records.xlsx', index=False)

In [8]:
len(complete_agreement_records)

1090

Female disagreement records

In [10]:
data_d=pd.read_excel("EXIST_2023/Complete_disagreement_records.xlsx")

In [11]:
filtered_df_f = data_d[(data_d["Total_female"] != 3) & (data_d["Total_female"] != 0)]

In [12]:
filtered_df_f.to_excel("EXIST_2023/female_disagreement_records.xlsx")

In [13]:
len(filtered_df_f)

1442

Male disagreement records

In [14]:
filtered_df_m = data_d[(data_d["Total_male"] != 3) & (data_d["Total_male"] != 0)]

In [15]:
filtered_df_m.to_excel("EXIST_2023/male_disagreement_records.xlsx")

In [16]:
len(filtered_df_m)

1573