In [1]:
import pandas as pd
file_path = "EXIST_2023/EXIST2023_Task1_en.xlsx"
data = pd.read_excel(file_path)

In [2]:
len(data)

3260

In [3]:
data.head()

,Unnamed: 0,id,lang,tweet,number_annotators,annotators,gender_annotators,age_annotators,labels_task1,Total_vote,Total_female,Total_male,majority_vote,female_vote,male_vote
0,0,200001,en,FFS! How about laying the blame on the bastard...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,2,1,1,1,0
1,1,200002,en,Writing a uni essay in my local pub with a cof...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'NO', 'YES', 'YES']",5,3,2,1,1,1
2,2,200003,en,@UniversalORL it is 2021 not 1921. I dont appr...,6,"['Annotator_397', 'Annotator_398', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'YES']",4,3,1,1,1,0
3,3,200004,en,@GMB this is unacceptable. Use her title as yo...,6,"['Annotator_403', 'Annotator_404', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'NO']",3,2,1,1,1,0
4,4,200005,en,‘Making yourself a harder target’ basically bo...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'NO', 'YES']",3,3,0,1,1,0

Female Agreement Records

In [9]:
filtered_df = data[(data["Total_female"] == 3) | (data["Total_female"] == 0)]

In [10]:
filtered_df.to_excel("EXIST_2023/female_agreement_records.xlsx")

In [11]:
len(filtered_df)

1818

Male Agreement Records

In [12]:
filtered_male = data[(data["Total_male"] == 3) | (data["Total_male"] == 0)]

In [13]:
filtered_male.to_excel("EXIST_2023/male_agreement_records.xlsx")

In [14]:
len(filtered_male)

1687

Age Agreement

In [16]:
import pandas as pd
file_path = "EXIST_2023/EXIST2023_Task1_age.xlsx"
df = pd.read_excel(file_path)

In [17]:
df.head()

,Unnamed: 0,id,tweet,number_annotators,annotators,gender_annotators,age_annotators,labels_task1,Total_vote,Total_age1,Total_age2,Total_age3,majority_vote,age1_vote,age2_vote,age3_vote
0,0,200001,FFS! How about laying the blame on the bastard...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,1,1,1,1,0,0,0
1,1,200002,Writing a uni essay in my local pub with a cof...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'NO', 'YES', 'YES']",5,2,1,2,1,1,0,1
2,2,200003,@UniversalORL it is 2021 not 1921. I dont appr...,6,"['Annotator_397', 'Annotator_398', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'YES']",4,1,2,1,1,0,1,0
3,3,200004,@GMB this is unacceptable. Use her title as yo...,6,"['Annotator_403', 'Annotator_404', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'NO']",3,1,2,0,1,0,1,0
4,4,200005,‘Making yourself a harder target’ basically bo...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'NO', 'YES']",3,1,1,1,1,0,0,0

Age1

In [21]:
filtered_age1 = df[(df["Total_age1"] == 2) | (df["Total_age1"] == 0)]

In [22]:
filtered_age1.to_excel("EXIST_2023/age1_agreement_records.xlsx")

In [23]:
len(filtered_age1)

2307

Age2

In [24]:
filtered_age2 = df[(df["Total_age2"] == 2) | (df["Total_age2"] == 0)]

In [25]:
filtered_age2.to_excel("EXIST_2023/age2_agreement_records.xlsx")

In [26]:
len(filtered_age2)

2313

Age3

In [27]:
filtered_age3 = df[(df["Total_age3"] == 2) | (df["Total_age3"] == 0)]

In [28]:
filtered_age3.to_excel("EXIST_2023/age3_agreement_records.xlsx")

In [29]:
len(filtered_age3)

2285